.projects-page .about-page-top {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #070F2B), url("../../../assets/imgs/projects.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.projects-page .projects-page-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  flex-wrap: wrap;
}
.projects-page .about-section {
  position: relative;
}
.projects-page .project-section1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #070F2B), url("../../../assets/imgs/Codelighthouse.png");
}
.projects-page .project-section2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #070F2B), url("../../../assets/imgs/open.jpeg");
}
.projects-page .project-section3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #070F2B), url("../../../assets/imgs/oraluirobert.png");
}
.projects-page .project-section4 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #070F2B), url("../../../assets/imgs/rsmi.png");
}
.projects-page .project-section5 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #070F2B), url("../../../assets/imgs/airobo.jpg");
}
.projects-page .project-section6 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #070F2B), url("../../../assets/imgs/nokia.png");
}
.projects-page .project-section7 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #070F2B), url("../../../assets/imgs/landing-pages.png");
}
.projects-page .project-section8 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #070F2B), url("../../../assets/imgs/educational.png");
}
.projects-page .project-section9 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #070F2B), url("../../../assets/imgs/infocentre-automation.jpg");
}
.projects-page .project-section {
  cursor: pointer;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  background-repeat: no-repeat;
  height: 200px;
  width: 280px;
}
.projects-page .project-section .about-section-bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #070F2B);
  height: 200px;
  width: 280px;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}
.projects-page .project-section .about-section-title {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.15s ease-in-out;
  opacity: 0;
}
.projects-page .project-section:hover > .about-section-title, .projects-page .project-section:focus > .about-section-title {
  opacity: 1;
  transition: all 0.15s ease-in-out;
}
.projects-page .project-section:hover > .about-section-bg, .projects-page .project-section:focus > .about-section-bg {
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .projects-page .projects-page-bottom {
    justify-content: center;
  }
}
@media screen and (min-width: 2000px) {
  .projects-page .project-section {
    width: 330px;
  }
  .projects-page .project-section .about-section-bg {
    width: 330px;
  }
}

/*# sourceMappingURL=projects-page.css.map */
