@import '../../../utils/constants'

.nav-dark
  background-color: $bg-color2-dark !important
  color: $text-white-color
  ul > li.selected
    color: $text-color !important


.navigation
  .scheme-option
    max-width: 20px
  z-index: 20
  text-align: center
  background-color: $bg-color
  position: fixed
  padding: 0 1rem
  border-radius: 10px
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  ul
    padding: 0
    display: flex
    list-style-type: none
    gap: 0
    font-weight: 300
    li
      border-radius: 10px
      padding: 0 1rem
      cursor: pointer
    .selected
      background: $bg-color
      box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px
  .page-title
    font-weight: 900


@media screen and (max-width: $bk-point)
  .navigation
    width: 100% !important
    ul

      width: 90%
      margin: 0 auto
      margin-top: 2rem
      display: grid
      grid-template-rows: 1fr 1fr
      grid-template-columns: repeat(3, 1fr)
      gap: .5rem
      li
        font-size: 16px
        display: flex
        align-items: center
        justify-content: center
        background: $bg-color2
        padding: .5rem
  .nav-dark
    //background-color: $bg-color2-dark !important
    //color: $text-white-color
    ul > li
      color: $text-color !important